<div class="option_container">
  <div class="py-2" *ngFor="let option of options">
    <div class="d-flex align-items-center gap-2 py-1">
      <strong>Name</strong>
      <input
        type="text"
        class="form-control"
        [placeholder]="option.name"
        (keyup)="updateOption($event, option._id)"
        id="" />
        <button class="btn btn-danger" (click)="removeOption(option._id)">
          <i class="fa fa-trash"></i>
        </button>
    </div>
    <div class="d-flex align-items-center gap-2 ms-5 py-1" *ngFor="let value of option.values; let index = index">
      <strong>Value {{index + 1}}</strong>
      <input
        type="text"
        class="form-control"
        [placeholder]="value.name"
         (keyup)="updateOptionValue($event, option._id, value._id)"
        id="d" />
        <button class="btn btn-danger" (click)="removeOptionValue(option._id, value._id)">
          <i class="fa fa-trash"></i>
        </button>
    </div>
    <div class="d-flex align-items-center justify-content-end gap-2">
      <button class="btn btn-primary" (click)="addOptionValue(option._id)"><i class="fa fa-plus"></i>
       Nouvelle valeur
      </button>
    </div>
  </div>
</div>



<div class="d-flex">
  <button class="btn btn-success" (click)="addOption()"><i class="fa fa-plus"></i>
  Nouvelle option
  </button>
</div>
