<div class="card-text placeholder-glow">
  <span class="placeholder col-12"></span>
  <span class="placeholder col-8"></span>
  <span class="placeholder col-6"></span>
  <span class="placeholder col-11"></span>
  <span class="placeholder col-3"></span>
   <span class="placeholder col-1"></span>
  <span class="placeholder col-2"></span>
  <span class="placeholder col-12"></span>
  <span class="placeholder col-4"></span>
  <span class="placeholder col-7"></span>
   <span class="placeholder col-9"></span>
  <span class="placeholder col-5"></span>
  <span class="placeholder col-12"></span>
  <span class="placeholder col-8"></span>
  <span class="placeholder col-6"></span>
  <span class="placeholder col-11"></span>
  <span class="placeholder col-3"></span>
   <span class="placeholder col-1"></span>
  <span class="placeholder col-2"></span>
  <span class="placeholder col-12"></span>
  <span class="placeholder col-4"></span>
  <span class="placeholder col-7"></span>
   <span class="placeholder col-9"></span>
  <span class="placeholder col-5"></span>
  <span class="placeholder col-12"></span>
  <span class="placeholder col-8"></span>
  <span class="placeholder col-6"></span>
  <span class="placeholder col-11"></span>
  <span class="placeholder col-3"></span>
   <span class="placeholder col-1"></span>
  <span class="placeholder col-2"></span>
</div>
