<form action="" class="d-flex py-2" (submit)="handleSubmit($event)">
  <input type="search" class="form-control me-2 shadow-sm" id="search"
  [name]="name"
         [(ngModel)]="value"
         placeholder="Rechercher..."
         aria-label="Search"
         (search)="handleSubmit($event)"
         (input)="searchProducts($event)">
  <button class="btn btn-success shadow-sm">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>

</form>

<table class="position-absolute bg-white text-black p-2" id="tableSearch">
  <tr *ngFor="let product of results" class="p-2">
    <td>
      <a href="#" (click)="send($event)" class="text-decoration-none text-secondary p-5 py-2">{{ product.name }}</a>
    </td>
  </tr>
</table>

